<h3>Welcome!</h3>
<div class="list-group-item">
		<div class="list-group-item">
				<h4 class="list-group-item-heading">
						<img src="{{ session['user']|avatar}}" class="profile-image img-circle"> {{sessions['user']['username']}} <small>#{{session['user']['discriminator']}}</small></h4>
				<p>
				On this page you will be able to enable and disable plugins and change the configuration of the bot.<br><br>
				Try out the <strong>Levels</strong> plugin, it is a sure fire way to get more people talking in your server!<br><br>
				Anyone who has <strong>Manage Server</strong> permissions in your <strong>server</strong> is allowed to access and use this dashboard.
				</p>
		</div>

</div>